.episode-list {
    display: inline-block;
    padding: 20px;
    padding-left: 0;
    width: 100%;
}

.episode-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.episode-list .episode-header {
    font-weight: 600;
    padding: 10px;
    border-bottom: 1px solid #242527;
}

.episode-wrapper {
    padding: 10px;
    border-bottom: 1px solid #242527;
}

/* Episode */
.episode-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.episode-pub-date {
    font-size: 13px;
    color: #ccc;
    margin-top: 10px;
}

.episode-description {
    font-size: 13px;
}

.episode-description p {
    margin: 0;
}

.episode-description img {
    display: none;
}

.episode-play:before,
.episode-bookmark:before{
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Podcast Details*/
.podcast-details {
    padding: 20px;
    border-bottom: 1px solid #242527;
    background-color: #eee;
    border-radius: 10px;
    color: #060606;
}

.podcast-details h3 {
    font-weight: 600;
    padding-bottom: 15px;
}

.podcast-details .podcast-img {
    width: 175px;
    height: 175px;
    border-radius: 10px;
}

.podcast-details h5 {
    font-weight: 600;
}

.podcast-details p {
    font-weight: 500;
    font-size: 14px;
}

.podcast-comments-btn {
    background-color: #76b852;
    border-radius: 20px;
    border: 0;
    color: white;
    font-weight: 500;
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
}

.btn__alt {
    border-radius: 2px;
}

.podcast-comments-btn:active, .podcast-comments-btn:focus {
    outline: 0;
}

.comment-wrapper {
    overflow-y: scroll;
    height: 220px;
    margin-bottom: 20px;
}