.admin-dashboard-wrapper {

}

.admin-dashboard-wrapper h3 {
    padding-bottom: 10px;
    font-weight: 600;
}

.admin-dashboard-wrapper .admin-card {
    background-color: #121213;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.admin-dashboard-wrapper .admin-card .count {
    color: #1ED760;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 5px;
}

.admin-dashboard-wrapper .admin-card .icon:before {
    font-size: 3rem;
    color: #fff;
    transition: 0.3s all ease-in-out;
}


.admin-dashboard-wrapper .admin-card:hover .icon:before {
    font-size: 3rem;
    color: #1DB954;
    transition: 0.3s all ease-in-out;
}

.admin-table{
    font-size: 13px;
}