.App {
    color: white;
    height: 100%;
    position: relative;
}

.app-name a {
    color: #aaa;
    transition: all .1s ease-out;
}

.app-name a:hover {
    text-decoration: none;
    color: #fff;
    transition: all .1s ease-out;
}

.no-data {
    font-size: 13px;
    color: #ccc;
}

/* Header */
.App-header {
    height: 80px;
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #242527;
    position: relative;
}

.App-header h2 {
    font-weight: bold;
    letter-spacing: 1px;
}

.logout {
    text-align: right;
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*right: 0;*/
    cursor: pointer;
}

.logout:hover {
    text-decoration: underline;
}

/*../ Header */

/* Side Navigation Bar */

.home-logo{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-top: -5px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 20px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #121213;
}

.sidebar-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-list li {
    margin-bottom: 30px;
}

.sidebar-list li a {
    color: #fff;
    text-decoration: none;
    transition: all .1s ease-out;
    font-weight: 500;
}

.sidebar-list li a.active {
    color: #1ED760;
}

.sidebar-list li a:hover {
    color: #1ED760;
    transition: all .1s ease-out;
}

.sidebar-list li a .icon:before {
    margin-right: 10px;
}

/*../ Side Navigation Bar */

/* React Player */

.react-player {
    background-color: #121213;
    width: 100% !important;
    height: auto !important;
    padding: 10px;
    font-size: 14px;
    border-top: 1px solid #242527;
}

.react-player audio, .react-player video {
    height: 55px !important;
}

/* Footer */

.footer {
    margin-left: 210px;
    background-color: #121213;
    height: 50px;
    padding: 10px;
    font-size: 14px;
    border-top: 1px solid #242527;
}

.footer .disclaimer-text {
    margin: 0;
    color: #fff;
}

.footer .footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-list li {
    float: left;
    margin-left: 20px;
}

.footer .footer-list li:first-child {
    margin-left: 0;
}

.footer .footer-list li a {
    color: #fff;
}

.footer .footer-list li a:hover {
    text-decoration: underline;
}

/* Footer */
