@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #060606;
  overflow-x: hidden;
}


.help-text {
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  color: #060606;
}

.help-text a {
  color: #1DB954;
}

.help-text a:hover {
  color: #1ED760;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Podcast */
.btn__alt {
  background-color: #76b852;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
  transition: all .1s ease-out;
  cursor: pointer;
}

.btn__alt:focus, .btn__alt:active {
  outline: 0;
}

.btn__alt:hover {
  background-color: #1ED760;
  transition: all .1s ease-out;
}

/*btn cta*/

.card-footer button, .btn__cta {
  border-radius: 25px;
  background-color: #76b852;
  width: 100%;
  border-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 14px;
  transition: all .1s ease-out;
}

.card-footer button:hover, .btn__cta:hover{
  background-color: #1ED760;
  transition: all .1s ease-out;
  border-color: transparent;
}

.btn__cta a, .btn__cta a:hover {
  color: white;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
