.card-auth {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #242527;
}

.card-auth label {
    font-size: 14px;
    font-weight: 500;
}
.card-auth .input-fld{
    background-color: transparent;
    border-color: #242527;
    color: #fff;
}

.card-auth .input-fld:active,
.card-auth .input-fld:focus{
    outline: none;
    border-color: #1ED760;
    box-shadow:none
}

.forgot-password {
    color: #76b852;
    font-size: 13px;
    font-weight: 600;
}

.register-promt {
    border-top: 1px solid #242527;
    padding-top: 15px;
}

.register-promt p {
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.register-promt .btn__alt2 {
    background-color: transparent;
    border-color: #76b852;
}

.register-promt .btn__alt2 a {
    color: white;
    width: 100%;
    display: inline-block;
    padding: 5px;
}

.register-promt .btn__alt2 a:hover {
    text-decoration: none;
}

.register-promt .btn__alt2:hover {
    background-color: transparent;
    border-color: #1ED760;
}

/* Profile */
.profile-wrapper {
    background-color: #F8F8F8;
    padding: 40px;
    padding-top: 50px;
}

.text-green {
    color: #1DB954;
    font-weight: 600;
}

.profile-wrapper .profile-header {
    color: #1DB954;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #EFEFEF;
}

.profile-wrapper .profile-body {
    padding: 30px 20px 20px;
    background-color: white;
}

.profile-wrapper .profile-body .form-group .control-label {
    color: #919496;
    font-weight: 400;
}

.profile-wrapper .profile-body .form-group p {
    font-size: 14px;
    font-weight: 600;
    color: #060606;
    padding-bottom: 10px;
    border-bottom: 1px solid #EFEFEF;
}